<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UK500" connectionString="Data Source=.\Data\UK500.db;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="UK10K" connectionString="Data Source=.\Data\UK10K.db;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="UK1M" connectionString="Data Source=.\Data\UK1M.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>